<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
    .btn-secondary { 
      color: #000;
      background-color: #e9ecef;
      border-color: #ced4da;
    }
    span.kommun {
      font-size: 10px;
    }
    button.kommun {
      line-height: 15px;
    }
    </style>
    <title>Yathra - Plannera din resa</title>
  </head>
  <body>
    <div id="yathra" class="container-fluid">
      <h1 class="text-center">Yathra</h1>
      <div class="row" >
        <div class="col-lg-6 col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">From</span>
              <div v-if="from !== from_station.name" class="dropdown-menu" style="display:block;">
                <button type="button" v-on:click="set_from_station(station)" class="dropdown-item kommun" v-for="station in fromStations">{{station.name}}<br><span class="kommun">{{areas.kommun[station.scbid]}}, {{areas.lan[station.scbid[0] + station.scbid[1]]}}</span></button>
              </div>
            </div>
            <input type="text" class="form-control" v-model="from">
            <button type="button" class="btn btn-secondary float-left" style="border-radius:0; border-left:0;border-right:0" v-on:click="switch_from_to">⇄</button>
            <input type="text" class="form-control" v-model="to">
            <div class="input-group-append">
              <span class="input-group-text" style="border-radius: 0 .25rem .25rem 0;">To</span>
              <div v-if="to !== to_station.name" class="dropdown-menu dropdown-menu-right kommun" style="display:block;">
                <button type="button" v-on:click="set_to_station(station)" class="dropdown-item kommun" v-for="station in toStations">{{station.name}}<br><span class="kommun">{{areas.kommun[station.scbid]}}, {{areas.lan[station.scbid[0] + station.scbid[1]]}}</span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Datum</span>
            </div>
            <input type="date" class="form-control" v-model="date" placeholder="2018-01-20">
            <div class="input-group-append">
              <span class="input-group-text">{{ slider_to_time }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-12">
          <div class="mx-auto" style="width: fit-content;">
            <div class="btn-group">
              <button type="button" v-on:click="find_in_timetable" class="btn btn-primary" >Sök</button>
              <button type="button" v-on:click="save_search" class="btn btn-secondary">Spara</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-lg-12">
          <input style="width: 100%; -webkit-appearance: none; appearance: none;height: 4px; background: #007bff;outline: none;opacity: 0.7;-webkit-transition: .2s;transition: opacity .2s;" v-model="time_slider" type="range" min="0" max="1439">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-3">
          <div>
            <h3 class="text-center" >Sökrningar</h3>
            <ul class="list-group small">
              <li v-for="search, i in searches" class="list-group-item">
                🚉 <a v-bind:href="'https://www.google.com/maps/search/'+search.from_station.lat+','+search.from_station.lon">{{ search.from_station.name }}</a> {{  }} <br> 
                🎯 <a v-bind:href="'https://www.google.com/maps/search/'+search.to_station.lat+','+search.to_station.lon">{{ search.to_station.name }}</a><br>
                {{ search.date }} - {{ slider_to_time_conv(search.time_slider) }}<br>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-secondary" v-on:click="searches.splice(i, 1)">❌</button>
                  <button type="button" class="btn btn-sm btn-secondary" v-on:click="restore_search(search)">▶</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <h3 class="text-center" >Söksvar</h3>
            <ul class="list-group" v-if="timetables.length > 0">
              <li class="list-group-item btn btn-secondary" v-on:click="before_in_timetable">
                <div class="mx-auto" style="width: fit-content;">
                  Tidigare resor
                </div>
              </li>
              <li v-for="trip, i in timetables" class="list-group-item">
                {{ trip.LegList.Leg[0].Origin.time }} - 
                {{ trip.LegList.Leg.slice(-1)[0].Destination.time }} - 
                <span v-if="trip.duration.indexOf('H') !== -1">
                {{ trip.duration.split("T")[1].split("H")[0] }} timmar 
                {{ trip.duration.split("T")[1].split("H")[1].split("M")[0] }} minuter - 
                </span>
                <span v-if="trip.duration.indexOf('H') < 0">
                0 timmar 
                {{ trip.duration.split("T")[1].split("M")[0] }} minuter - 
                </span>
                <span title="Antal byte">⇄ {{ trip.LegList.Leg.length - 1 }} </span>
                <div v-for="leg in trip.LegList.Leg" v-if="trip.showAllStops == true">
                  <div v-if="leg.type!=='WALK' && leg.type!=='TRSF'">
                    {{ leg.Origin.time }} {{ leg.Origin.name }} - 
                    {{ leg.Destination.time }} {{ leg.Destination.name }}<br>
                    {{ catToIcon[leg.Product.catCode] }}
                    <a v-bind:href="leg.Product.operatorUrl">
                        <img class="height: 20px;" v-bind:src="'//resrobotimages.samtrafiken.se/images/'+leg.Product.operatorCode+'.jpg'">
                    </a>
                    </div>
                </div>
                <br>
                <div class="btn-group">
                  <button v-on:click="timetables[i].showAllStops = true" type="button" class="btn btn-sm btn-secondary">⤵</button>
                  <button v-on:click="trips.push(trip);store_trips();" type="button" class="btn btn-sm btn-secondary">💾</button>
                </div>
              </li>
              <li class="list-group-item btn btn-secondary" v-on:click="next_in_timetable">
                <div class="mx-auto" style="width: fit-content;" >
                  Senare resor
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div>
            <h3 class="text-center" >Resor</h3>
            <ul class="list-group small">
              <li v-for="trip, i in trips" class="list-group-item" style="white-space: nowrap; overflow: hidden;">
                <span v-if="trip.showAllStops">
                  {{ trip.LegList.Leg[0].Origin.time.substring(0,5) }} 🚉 <a v-bind:href="'https://www.google.com/maps/search/'+trip.LegList.Leg[0].Origin.lat+','+trip.LegList.Leg[0].Origin.lon" target="_blank">{{ trip.LegList.Leg[0].Origin.name }}</a><br>
                  {{ trip.LegList.Leg.slice(-1)[0].Destination.time.substring(0,5) }} 🎯 <a v-bind:href="'https://www.google.com/maps/search/'+trip.LegList.Leg.slice(-1)[0].Destination.lat+','+trip.LegList.Leg.slice(-1)[0].Destination.lon" target="_blank">{{ trip.LegList.Leg.slice(-1)[0].Destination.name }}</a><br>
                </span>
                <span v-else="" v-for="leg in trip.LegList.Leg">
                  {{ leg.Origin.time.substring(0,5) }} 🚉 <a v-bind:href="'https://www.google.com/maps/search/'+leg.Origin.lat+','+leg.Origin.lon" target="_blank">{{ leg.Origin.name }}</a><br>
                  {{ leg.Destination.time.substring(0,5) }} 🎯 <a v-bind:href="'https://www.google.com/maps/search/'+leg.Destination.lat+','+leg.Destination.lon" target="_blank">{{ leg.Destination.name }}</a><br>
                </span>
                <div class="btn-group">
                  <button class="btn btn-sm btn-secondary" v-on:click="trips.splice(i, 1)" type="button">❌</button>
                  <button class="btn btn-sm btn-secondary" v-on:click="makeICS(1, 2, trip.LegList.Leg[0].Origin.name, trip.LegList.Leg.slice(-1)[0].Destination.name, 5)" type="button">📅</button>
                  <button v-on:click="trips[i].showAllStops = 1" type="button" class="btn btn-sm btn-secondary">⤵</button>
                  <a class="btn btn-sm btn-secondary" target="_blank" v-bind:href="'https://www.'+trip.LegList.Leg[0].Product.operatorCode+'.se'" v-bind:title="trip.LegList.Leg[0].Product.operator">🎫</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>

function slider_to_time_conv(slider){
      var hours = Math.floor(slider / 60);
      var minutes = slider - hours * 60;
      return ("0" + hours).substr(-2) + ":" + ("0" + minutes).substr(-2);
    }

now = new Date();
var yathra = new Vue({
  el: '#yathra',
  data:{
    catToIcon:{
      "1":"🚅",
      "2":"🚆",
      "3":"🚌",
      "4":"🚈",
      "5":"🚇",
      "6":"🚋",
      "7":"🚍",
      "8":"⛴}"
    },
    from:"",
    from_station: {"id":"","name":""},
    to:"",
    to_station: {"id":"","name":""},
    date:now.toISOString().substring(0,10),
    allstations: [],
    time_slider: "600",
    searches: [],
    scrB: "",
    scrF: "",
    timetables: [],
    trips: [],
    areas: {},
    price: {"oretag":{}}
  },
  methods: {
    next_in_timetable: function (e){
      console.log("asd");
      var xhr = new XMLHttpRequest();
      var next = this
      xhr.open('GET', 'https://api.resrobot.se/v2/trip?key=78d03ab5-d9bc-4734-9e09-70ee80d286f9&originId='+this.from_station.id+'&destId='+this.to_station.id+'&time='+this.slider_to_time+'&date='+this.date+'&format=json&context='+this.scrF);
      xhr.onreadystatechange = function () {
        var DONE = 4; // readyState 4 means the request is done.
        var OK = 200; // status 200 is a successful return.
        if (xhr.readyState === DONE) {
          if (xhr.status === OK)
            next.timetables = next.timetables.concat(JSON.parse(xhr.responseText).Trip)
            next.scrF = JSON.parse(xhr.responseText).scrF
          } else {
            console.log('Error: ' + xhr.status); // An error occurred during the request.
          }
        }
      xhr.send(null);
    },
    before_in_timetable: function(e){
      console.log("asd");
      var xhr = new XMLHttpRequest();
      var next = this
      xhr.open('GET', 'https://api.resrobot.se/v2/trip?key=78d03ab5-d9bc-4734-9e09-70ee80d286f9&originId='+this.from_station.id+'&destId='+this.to_station.id+'&time='+this.slider_to_time+'&date='+this.date+'&format=json&context='+this.scrB);
      xhr.onreadystatechange = function () {
        var DONE = 4; // readyState 4 means the request is done.
        var OK = 200; // status 200 is a successful return.
        if (xhr.readyState === DONE) {
          if (xhr.status === OK)
            next.timetables = JSON.parse(xhr.responseText).Trip.concat(next.timetables)
            console.log(next.timetables.lenght);
            next.scrB = JSON.parse(xhr.responseText).scrB
          } else {
            console.log('Error: ' + xhr.status); // An error occurred during the request.
          }
        }
      xhr.send(null);
    },
    filterFrom: function (station) {
      return station.name.toUpperCase().startsWith(this.from.toUpperCase());
    },
    filterFromIn: function (station) {
      return station.name.toUpperCase().includes(this.from.toUpperCase(), 1);
    },
    filterTo: function (station) {
      return station.name.toUpperCase().startsWith(this.to.toUpperCase());
    },
    filterToIn: function (station) {
      return station.name.toUpperCase().includes(this.to.toUpperCase(), 1);
    },
    set_from_station(station) {
      this.from_station = station;
      this.from = station.name;
    },
    set_to_station(station) {
      this.to_station = station;
      this.to = station.name;
    },
    switch_from_to(){
      to = this.to;
      to_station= this.to_station;
      this.to = this.from;
      this.to_station = this.from_station;
      this.from = to;
      this.from_station = to_station;
    },
    find_in_timetable: function (){
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'https://api.resrobot.se/v2/trip?key=78d03ab5-d9bc-4734-9e09-70ee80d286f9&originId='+this.from_station.id+'&destId='+this.to_station.id+'&time='+this.slider_to_time+'&date='+this.date+'&format=json');
      var next = this
      xhr.onreadystatechange = function () {
        var DONE = 4; // readyState 4 means the request is done.
        var OK = 200; // status 200 is a successful return.
        if (xhr.readyState === DONE) {
          if (xhr.status === OK) {
            console.log('Message: ' + next.timetables);
            ttable = JSON.parse(xhr.responseText).Trip
            ttable.forEach(function(trip) {
                trip.showAllStops = false;
                next.timetables.push(trip);
            })
            next.scrB = JSON.parse(xhr.responseText).scrB
            next.scrF = JSON.parse(xhr.responseText).scrF
          } else {
            console.log('Message state: ' + xhr.status); // An error occurred during the request.
          }
        }
      }
      xhr.send(null);
    },
    save_search: function (){
      this.searches.push({
        from_station: this.from_station,
        to_station: this.to_station,
        date: this.date,
        time_slider: this.time_slider
      });
    localStorage.setItem("searches_list", JSON.stringify(this.searches));
    },
    restore_search: function (load_search){
      this.from_station = load_search.from_station;
      this.from = load_search.from_station.name;
      this.to_station = load_search.to_station;
      this.to = load_search.to_station.name;
      this.date = load_search.date;
      this.time_slider = load_search.time_slider;
      this.find_in_timetable();
    },
    store_trips: function (){
        localStorage.setItem("trips_list", JSON.stringify(this.trips));
    },
    makeICS: function (start, end, from, to, company){
      calendar = "BEGIN:VCALENDAR" + "\n" +
        "VERSION:2.0" + "\n" +
        "PRODID:-//hacksw/handcal//NONSGML v1.0//EN" + "\n" +
        "BEGIN:VEVENT" + "\n" +
        "UID:19970610T172345Z-AF23B2@example.com" + "\n" +
        "DTSTAMP:20181125T172345Z" + "\n" +
        "DTSTART:20181125T170000Z" + "\n" +
        "DTEND:20181125T200000Z" + "\n" +
        "SUMMARY:" + company + "\n" +
        "LOCATION:" + from + " -> " + to + "\n" +
        "END:VEVENT" + "\n" +
        "END:VCALENDAR";
     window.open( "data:text/calendar;charset=utf8," + escape(calendar));
     }
  },
  computed: {
    slider_to_time: function (){
      return slider_to_time_conv(this.time_slider);
    },
    fromStations: function () {
      if (this.from == "" ){
        return [];
      }
      startStations = this.allstations.filter(this.filterFrom);
      inStations = this.allstations.slice(0, 10);
      if (startStations.length < 10){
       inStations = this.allstations.filter(this.filterFromIn);
       }
      validStations = startStations.concat(inStations);
      return validStations.slice(0, 10).sort(compareStations);
    },
    toStations: function () {
      if (this.to == "" ){
        return []
      }
      startStations = this.allstations.filter(this.filterTo);
      inStations = this.allstations.slice(0, 10);
      if (startStations.length < 10){
       inStations = this.allstations.filter(this.filterToIn);
       }
      validStations = startStations.concat(inStations);
      return validStations.slice(0, 10).sort(compareStations);
    }
  }
})

// ref: http://stackoverflow.com/a/1293163/2343
// This will parse a delimited string into an array of
// arrays. The default delimiter is the comma, but this
// can be overriden in the second argument.
function CSVToArray( strData, strDelimiter ){
    // Check to see if the delimiter is defined. If not,
    // then default to comma.
    strDelimiter = (strDelimiter || ",");

    // Create a regular expression to parse the CSV values.
    var objPattern = new RegExp(
        (
            // Delimiters.
            "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +

            // Quoted fields.
            "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +

            // Standard fields.
            "([^\"\\" + strDelimiter + "\\r\\n]*))"
        ),
        "gi"
        );


    // Create an array to hold our data. Give the array
    // a default empty first row.
    var arrData = [[]];

    // Create an array to hold our individual pattern
    // matching groups.
    var arrMatches = null;


    // Keep looping over the regular expression matches
    // until we can no longer find a match.
    while (arrMatches = objPattern.exec( strData )){

        // Get the delimiter that was found.
        var strMatchedDelimiter = arrMatches[ 1 ];

        // Check to see if the given delimiter has a length
        // (is not the start of string) and if it matches
        // field delimiter. If id does not, then we know
        // that this delimiter is a row delimiter.
        if (
            strMatchedDelimiter.length &&
            strMatchedDelimiter !== strDelimiter
            ){

            // Since we have reached a new row of data,
            // add an empty row to our data array.
            arrData.push( [] );

        }

        var strMatchedValue;

        // Now that we have our delimiter out of the way,
        // let's check to see which kind of value we
        // captured (quoted or unquoted).
        if (arrMatches[ 2 ]){

            // We found a quoted value. When we capture
            // this value, unescape any double quotes.
            strMatchedValue = arrMatches[ 2 ].replace(
                new RegExp( "\"\"", "g" ),
                "\""
                );

        } else {

            // We found a non-quoted value.
            strMatchedValue = arrMatches[ 3 ];

        }


        // Now that we have our value string, let's add
        // it to the data array.
        arrData[ arrData.length - 1 ].push( strMatchedValue );
    }

    // Return the parsed data.
    return( arrData );
}

function to_station(station){
  return {"id":station[0],"name":station[1],"lat":station[2],"lon":station[3],"scbid":station[4],"x":station[5],"y":station[6]};
}

function get_stations(){
  var xhr = new XMLHttpRequest();
  xhr.open('GET', 'exstops.txt');
  xhr.onreadystatechange = function () {
    var DONE = 4; // readyState 4 means the request is done.
    var OK = 200; // status 200 is a successful return.
    if (xhr.readyState === DONE) {
      if (xhr.status === OK)
        stations = CSVToArray(xhr.responseText, ",").filter(station => station[0]!=="");
        yathra.allstations = stations.map(station => to_station(station)).slice(1).sort(compareStations);
      } else {
        console.log('Error: ' + xhr.status); // An error occurred during the request.
      }
    }
  xhr.send(null);
}
get_stations();

function get_areas(){
  var xhr = new XMLHttpRequest();
  xhr.open('GET', 'areas.json');
  xhr.onreadystatechange = function () {
    var DONE = 4; // readyState 4 means the request is done.
    var OK = 200; // status 200 is a successful return.
    if (xhr.readyState === DONE) {
      if (xhr.status === OK)
        yathra.areas = JSON.parse(xhr.responseText);
      } else {
        console.log('Error: ' + xhr.status); // An error occurred during the request.
      }
    }
  xhr.send(null);
}
get_areas();

function compareStations(a, b) {
  var nameA = a.id.toUpperCase();
  var nameB = b.id.toUpperCase();
  if (nameA < nameB) {
    return -1;
  }
  if (nameA > nameB) {
    return 1;
  }
  return 0;
}

try{
  list = JSON.parse(localStorage.getItem("searches_list"));
  if(list != null){
    yathra.searches = list;
    restore_search(searches.searches[0]);
  }
}
catch(a){
}

try{
  list = JSON.parse(localStorage.getItem("trips_list"));
  if(list != null){
    yathra.trips = list;
  }

}
catch(a){
}
  </script>
</html>